<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CQRSAzureEventSourcingConfiguration" type="CQRSAzure.EventSourcing.CQRSAzureEventSourcingConfigurationSection,CQRSAzure.EventSourcing" />
    <section name="CQRSAzureIdentifierGroupConfiguration" type="CQRSAzure.IdentifierGroup.CQRSAzureIdentifierGroupConfigurationSection,CQRSAzure.IdentifierGroup" />
  </configSections>



  <CQRSAzureEventSourcingConfiguration>
    <ImplementationMaps>
      <Map AggregateDomainQualifiedName="HospitalWard.Nurse" ImplementationName="Test123" />
      <Map AggregateDomainQualifiedName="Accounts.Account" ImplementationName="AccountsAzureTable" SnapshotSettingsName="AccountsAzureBlobSnapshot" />
    </ImplementationMaps>
    
    <Implementations>
      <Implementation Name="InMemoryImplementationExample" ImplementationType="InMemory">
        <InMemorySettings />
      </Implementation>
      <Implementation Name="AzureBlobImplementationExample" ImplementationType="AzureBlob">
        <BlobSettings ConnectionStringName="UnitTestStorageConnectionString" />
      </Implementation>
      <Implementation Name="AzureBlobImplementationDomainExample" ImplementationType="AzureBlob">
        <BlobSettings ConnectionStringName="UnitTestStorageConnectionString" DomainName="Test" />
      </Implementation>
      <Implementation Name="AzureFileImplementationExample" ImplementationType="AzureFile">
        <FileSettings ConnectionStringName="UnitTestStorageConnectionString" InitialSize="20000" />
      </Implementation>
      <Implementation Name="AzureSQLImplementationExample" ImplementationType="AzureSQL">
        <SQLSettings ConnectionStringName="UnitTestStorageConnectionString" AggregateIdentifierField="AggregateKey" />
      </Implementation>
      <Implementation Name="AzureTableImplementationExample" ImplementationType="AzureTable">
        <TableSettings ConnectionStringName="UnitTestStorageConnectionString" SequenceNumberFormat="00000000" />
      </Implementation>
      <Implementation Name="LocalFileSettingsExample" ImplementationType="LocalFileSettings">
        <LocalFileSettings EventStreamRootFolder="C:\CQRS\Data\EventStreams" UnderlyingSerialiser="JSON" />
      </Implementation>
    </Implementations>
    
  </CQRSAzureEventSourcingConfiguration>

  <CQRSAzureIdentifierGroupConfiguration>
    <ImplementationMaps>
      <!-- Mapping between aggregate types and their underlying identifier group persistence -->
      <Map AggregateDomainQualifiedName="HospitalWard.Nurse" ImplementationName="Test123" />
    </ImplementationMaps>

    <ClassifierSnapshotSettings>
      <Implementation Name="Test123" ImplementationType="AzureBlob">
        <BlobSettings ConnectionStringName="UnitTestStorageConnectionString" DomainName="Test" />
      </Implementation>
    </ClassifierSnapshotSettings>

    <SnapshotSettings>
      <Implementation Name="TestSnapshot123" ImplementationType="AzureBlob">
        <BlobSettings ConnectionStringName="UnitTestStorageConnectionString" DomainName="Test" />
      </Implementation>
    </SnapshotSettings>

  </CQRSAzureIdentifierGroupConfiguration>

  <!-- Connection strings moved to own file to keep them out of source control (gitignore) -->
  <connectionStrings configSource="connectionstrings.config" />
  
    <system.diagnostics>
        <switches>
            <add name="DefaultSwitch" value="Information" />
          <!-- This switch controls tracing of the common functionality of the Identifier Group library
         "1" gives error messages, 
         "2" gives errors and warnings, 
         "3" gives more detailed error information   
         "4" gives verbose trace information -->
          <add name="CQRSAzure.IdentifierGroup.Trace" value="4" />
        </switches>
        <trace autoflush="true" indentsize="0">
            <listeners>
                <add name="IdentifierGroupInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
                <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
