/*  Cascading Style Sheet to prettify the documentation output by 
    a HTMLDocumentationWriter from a CQRS model
*/

h1{
    /* Page heading */
    border-bottom:1px solid red;
    padding: 2px 5px 2px 5px;
    height: 50px;
    text-indent: 50px;
    font-family: Verdana, Arial, sans;
}

h1.Model
{
    /* Model page heading */
    border-bottom:1px solid aqua;
    background-image: url("Documentation.PNG");
    background-repeat: no-repeat;
}

h1.Aggregate
{
    /* Aggregate identifier page heading */
    border-bottom: 1px solid lightgoldenrodyellow;
    background-image: url("CodeGeneration.PNG");
    background-repeat: no-repeat;
}

h1.Event
{
    /* Event page heading */
    border-bottom:1px solid yellow;
    background-image: url("Event.PNG");
    background-repeat: no-repeat;
}

h1.Command
{
    /* Command page heading */
    border-bottom:1px solid lightcoral;
    background-image: url("Command.PNG");
    background-repeat: no-repeat;
}

h1.Query
{
    /* Query page heading */
    border-bottom:1px solid lightgreen;
    background-image: url("Query.PNG");
    background-repeat: no-repeat;
}

h1.Projection
{
    /* Projection page heading */
    border-bottom:1px solid mediumpurple;
    background-image: url("Projection.PNG");
    background-repeat: no-repeat;
}

h1.IdentityGroup
{
    /* Identity group page heading */
    border-bottom:1px solid aquamarine;
    background-image: url("IdentityGroup.PNG");
    background-repeat: no-repeat;
}


h2{
    /* Section sub heading */
   padding: 2px 7px 2px 5px;
   font-family: Verdana, Arial, sans;
}

h2.Notes
{
    /* Notes section sub heading */
    border:1px dashed lightgray;
}

h2.Description
{
    /* Description sub heading */
    border:1px solid lightgray;
}

h2.Parameters
{
    /* Parameters sub heading */
   border-bottom:1px solid cornflowerblue;
}

p{
    /* Standard text block */
     padding: 2px 10px 2px 5px;
}

ul{
    /* List of items */
}

body {
}
