<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- For unit testing of the config readers -->
  <configSections>
    <section name="CQRSAzureHostConfigurationSection" type="CQRSAzure.Hosting.CQRSAzureHostConfigurationSection,CQRSAzure.Hosting" />
  </configSections>

  <CQRSAzureHostConfigurationSection Name="Grettel" LoadDomainsOnStartup="True">
     <HostedDomains>
       <!-- The race in progress' domain -->
       <HostedDomain Name="Race" Description="An individual race">
         <EventSourcing FullName="Race.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <IdentifierGroups FullName="Race.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <Commands>
            <Definitions FullName="Race.CommandDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <Handlers FullName="Race.CommandHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </Commands>
         <Queries>
           <Definitions FullName="Race.QueryDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
           <Handlers FullName="Race.QueryHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />           
         </Queries>
       </HostedDomain>
       
       <!-- The league domain  -->
       <HostedDomain Name="League" Description="Meet and Train league">
         <EventSourcing FullName="League.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <IdentifierGroups FullName="League.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <Commands>
           <Definitions FullName="League.CommandDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
           <Handlers FullName="League.CommandHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </Commands>
         <Queries>
           <Definitions FullName="League.QueryDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
           <Handlers FullName="League.QueryHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </Queries>         
       </HostedDomain>
       
       <!-- The individual runner domain -->
       <HostedDomain Name="Runner" Description="An individual runner">
         <EventSourcing FullName="Runner.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <IdentifierGroups FullName="Runner.EventSourcing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         <Commands>
           <Definitions FullName="Runner.CommandDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
           <Handlers FullName="Runner.CommandHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </Commands>
         <Queries>
           <Definitions FullName="Runner.QueryDefinition, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
           <Handlers FullName="Runner.QueryHandler, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
         </Queries>
       </HostedDomain>
	  </HostedDomains>
  </CQRSAzureHostConfigurationSection>


  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>